<div>
  <p>Posted by: {{quote.name}}</p>
  <p>Author: {{quote.author}}</p>
  <p>Date Posted: {{quote.publishDate}}</p>
  <p>{{quote.upVote}}</p>
  <button (click)='upvote()'class="btn btn-sm btn-success">Like<i class="fa fa-thumbs-up" id="like"></i></button>
  <p>{{quote.downVote}}</p>
  <button (click)='downvote()' class="btn btn-sm btn-danger">Dislike<i class="fa fa-thumbs-down"></i></button>
</div>
<Br>
<div class="delete">
	<button class="btn btn-danger" (click)='deleteQuote(true)'>Delete</button>
</div>