#dislike {
	border-radius: 1px;
	border: 2px solid white;
	margin-left: 90px;
	margin-top: -139px;
}

#like {
  border-radius: 1px;
	border: 2px solid white;
}

#delete{
	border-radius: 1px;
	border: 2px solid white;
	margin-left: 200px;
	margin-top: -240px;
}

p{
	color: white;
}