<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="./src/assets/Quotesimg.jpg" alt="image here" width="100%" height="100%">
    </div>
    <div class="col-md-4" class="Quote">
      <div *ngFor='let quote of quotes let i=index'>
        <p appHighlight *ngIf="highestUpvote()===quote.upVote && quote.upVote>0">{{quote.phrase}}</p>
        <p *ngIf="highestUpvote()!==quote.upVote || quote.upVote===0">{{quote.phrase}}</p>
        <app-quote-details *ngIf='quote' bind-quote='quote' (isRead)='quoteDelete($event,i)'></app-quote-details>

      </div>
    </div>
    <div class="col-md-4">
      <app-quote-form (addQuote)='addedQuote($event)'></app-quote-form>
    </div>
  </div>

</div>
