 .Quote {
   float: left;
   margin: 2rem 0 0 2rem;
   padding: 0.5rem;
   background-color: yellow;
   width: 25rem;
   height: 22rem;
 }

 h3{
	 color: white;
	 font-size: 50px;
 }

 p{
	 color: white;
	 font-size: 40px;
 }